<html>
  <head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <h1>
      Hello <%= info %>
    </h1>

    <h2>
      Query string value: <%= query_string %>
    </h2>
  </body>
</html>